<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Courses</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

    <header th:replace="fragments/header :: header"></header>

    <form th:object="${course}" th:method="post" th:action="@{/course}">
        <input type="hidden" th:field="*{id}">

        <div>
            <label for="title">Title</label>
            <input type="text" id="title" th:field="*{title}">
            <small class="validation-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name shouldn't be empty</small>
        </div>

        <div>
            <label for="author">Author</label>
            <input type="text" id="author" th:field="*{author}">
            <small class="validation-error" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name shouldn't be empty</small>
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>
    </form>

</body>

</html>

