<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Courses</title>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

    <header th:replace="fragments/header :: header"></header>

    <h1>Course not found</h1>

</body>

</html>